Proyek Sains Data C
Nama : M. Ilham Anggis Bangkit Pamungkas
NIM : 200411100197
Nama : Baihaki
NIM : 200411100181

Github : https://github.com/M-ILHAM-197/kolaborasipro

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)

In [23]:
import numpy as np
from numpy import  array

In [4]:
import pandas as pd
df = pd.read_csv('airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [5]:
X_train = df.iloc[:115]  # Baris 0-2
X_test = df.iloc[115:]

In [6]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/ubuntu/.local/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_train_norm = X_train[['Passengers']]
X_test_norm = X_test[['Passengers']]
X_train_norm = scaler.fit_transform(X_train_norm)
X_test_norm = scaler.fit_transform(X_test_norm)

# Mengganti nilai kolom asli dengan nilai yang telah dinormalisasi
X_train[['Passengers']] = X_train_norm
X_test[['Passengers']] = X_test_norm

# Menyimpan data yang telah dinormalisasi ke file CSV baru
print(X_train)
print(X_test)

       Month  Passengers
0    1949-01    0.020672
1    1949-02    0.036176
2    1949-03    0.072351
3    1949-04    0.064599
4    1949-05    0.043928
..       ...         ...
110  1958-03    0.666667
111  1958-04    0.630491
112  1958-05    0.669251
113  1958-06    0.855297
114  1958-07    1.000000

[115 rows x 2 columns]
       Month  Passengers
115  1958-08    0.625000
116  1958-09    0.301282
117  1958-10    0.157051
118  1958-11    0.000000
119  1958-12    0.086538
120  1959-01    0.160256
121  1959-02    0.102564
122  1959-03    0.307692
123  1959-04    0.275641
124  1959-05    0.352564
125  1959-06    0.519231
126  1959-07    0.762821
127  1959-08    0.798077
128  1959-09    0.490385
129  1959-10    0.310897
130  1959-11    0.166667
131  1959-12    0.304487
132  1960-01    0.342949
133  1960-02    0.259615
134  1960-03    0.349359
135  1960-04    0.483974
136  1960-05    0.519231
137  1960-06    0.721154
138  1960-07    1.000000
139  1960-08    0.948718
140  1960-09    0.634615
141  1960-10    0.483974
142  1960-11    0.256410
143  1960-12    0.391026

/tmp/ipykernel_27854/891009584.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[['Passengers']] = X_train_norm
/tmp/ipykernel_27854/891009584.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[['Passengers']] = X_test_norm

In [25]:
sc = MinMaxScaler(feature_range = (0, 1))
scaled = sc.fit_transform(np.reshape(X_train['Passengers'],(-1,1)))
df = pd.DataFrame(scaled, columns=["Normalize"])
df
# df = pd.DataFrame(scaled)
# df

     Normalize
0     0.020672
1     0.036176
2     0.072351
3     0.064599
4     0.043928
..         ...
110   0.666667
111   0.630491
112   0.669251
113   0.855297
114   1.000000

[115 rows x 1 columns]

In [18]:
scaled

array([[0.02067183],
       [0.03617571],
       [0.07235142],
       [0.06459948],
       [0.04392765],
       [0.08010336],
       [0.11369509],
       [0.11369509],
       [0.08268734],
       [0.03875969],
       [0.        ],
       [0.03617571],
       [0.02842377],
       [0.05684755],
       [0.09560724],
       [0.08010336],
       [0.05426357],
       [0.11627907],
       [0.17054264],
       [0.17054264],
       [0.13953488],
       [0.0749354 ],
       [0.02583979],
       [0.09302326],
       [0.10594315],
       [0.11886305],
       [0.19121447],
       [0.15245478],
       [0.17571059],
       [0.19121447],
       [0.24547804],
       [0.24547804],
       [0.20671835],
       [0.1498708 ],
       [0.10852713],
       [0.16020672],
       [0.17312661],
       [0.19638243],
       [0.22997416],
       [0.19896641],
       [0.20413437],
       [0.29457364],
       [0.3255814 ],
       [0.35658915],
       [0.27131783],
       [0.2248062 ],
       [0.17571059],
       [0.23255814],
       [0.2377261 ],
       [0.2377261 ],
       [0.34108527],
       [0.33850129],
       [0.32299742],
       [0.35917313],
       [0.41343669],
       [0.43410853],
       [0.34366925],
       [0.27648579],
       [0.19638243],
       [0.25064599],
       [0.25839793],
       [0.21705426],
       [0.33850129],
       [0.31782946],
       [0.33591731],
       [0.41343669],
       [0.51162791],
       [0.48837209],
       [0.4005168 ],
       [0.32299742],
       [0.25581395],
       [0.32299742],
       [0.35658915],
       [0.33333333],
       [0.42118863],
       [0.42635659],
       [0.42894057],
       [0.54521964],
       [0.67183463],
       [0.62790698],
       [0.5374677 ],
       [0.43927649],
       [0.34366925],
       [0.4496124 ],
       [0.46511628],
       [0.44702842],
       [0.5503876 ],
       [0.54005168],
       [0.55297158],
       [0.69767442],
       [0.79844961],
       [0.77777778],
       [0.64857881],
       [0.52196382],
       [0.43152455],
       [0.52196382],
       [0.54521964],
       [0.50904393],
       [0.65116279],
       [0.63049096],
       [0.64857881],
       [0.82170543],
       [0.93281654],
       [0.9379845 ],
       [0.7751938 ],
       [0.62790698],
       [0.51937984],
       [0.5994832 ],
       [0.60981912],
       [0.55297158],
       [0.66666667],
       [0.63049096],
       [0.66925065],
       [0.85529716],
       [1.        ]])

In [19]:
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
  # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

In [24]:
X, y = split_sequence(scaled, 2)
print(X.shape, y.shape)
shapeX = np.reshape(X,(113,2))

dfX = pd.DataFrame(shapeX, columns=["Xt-2", "Xt-1"])
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(113, 2, 1) (113, 1)

         Xt-2      Xt-1        Xt
0    0.020672  0.036176  0.072351
1    0.036176  0.072351  0.064599
2    0.072351  0.064599  0.043928
3    0.064599  0.043928  0.080103
4    0.043928  0.080103  0.113695
..        ...       ...       ...
108  0.609819  0.552972  0.666667
109  0.552972  0.666667  0.630491
110  0.666667  0.630491  0.669251
111  0.630491  0.669251  0.855297
112  0.669251  0.855297  1.000000

[113 rows x 3 columns]

In [ ]:
from sklearn.neighbors import KNeighborsRegressor